{% extends 'base.html.twig' %}
{% block body %}
    <a href="/student/display">Edit students</a>
    {% if form %}
    <div id="saveForm" class="simpleform">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {% endif %}
    <table id="table1" class="table">
        <tr>
            <th>Sort by:</th>
            <th><input class="sortButton" type="button" onclick="sortTable(1)" value="Id"></th>
            <th><input class="sortButton" type="button" onclick="sortTable(2)" value="Name"></th>
            <th>Delete from DB</th>
        </tr>
        {% for x in data %}
            <tr>
                <td style="background-color: initial;"></td>
                <td>{{ x.Id }}</td>
                <td>{{ x.Name }}</td>
                <td style="text-align: center; background-color: initial;">
                    <a id="deleter" href="{{ path('class_delete', { 'id' : x.Id }) }}">X</a>
                </td>
            </tr>
        {% endfor %}
        <br/>
    </table>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }} <a class="flash-notice-X" href="#" onclick="window.location.reload(true);"> X</a>
        </div>
    {% endfor %}
{% endblock %}