{% extends 'base.html.twig' %}
{% block body %}
    <a href="/class/display">Add new class</a>
    <div class="row">
        <div class="column">
            <div id="saveForm" class="simpleform">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <table id="table1" class="table">
                <tr>
                    <th>Sort by:</th>
                    <th><input class="sortButton" type="button" onclick="sortTable(1)" value="Id"></th>
                    <th><input class="sortButton" type="button" onclick="sortTable(2)" value="Name"></th>
                    <th><input class="sortButton" type="button" onclick="sortTable(3)" value="Address"></th>
                    <th>Delete from DB</th>
                    <th style="width: 70px;"></th>
                </tr>
                {% for x in data %}
                    <tr>
                        <td style="background-color: initial;"></td>
                        <td>{{ x.Id }}</td>
                        <td>{{ x.Name }}</td>
                        <td>{{ x.Address }}</td>
                        <td style="text-align: center; background-color: initial;">
                            <a id="deleter" href="{{ path('student_delete', { 'id' : x.Id }) }}">X</a>
                        </td>
                        <td style="text-align: center; background-color: initial;">
                            <a id="deleter" href="{{ path('student_update', { 'id' : x.Id }) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                <br/>
            </table>
        </div>
        <div class="column">
            <div class="row">
                <table id="table2" class="table column10">
                    <tr>
                        <th>
                            <h2>Student</h2>
                        </th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <th>{{ student.name }}</th>
                        </tr>
                    {% endfor %}
                </table>
                <table id="table3" class="table column20">
                    <tr>
                        <th>
                            <h2>Class</h2>
                        </th>
                    </tr>
                    {% for class in classes %}
                        <tr>
                            <th>{{ class.name }}</th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }} <a style="vertical-align: super; font-size: 14px; background: red; color: white;" href="#" onclick="window.location.reload(true);"> X</a>
        </div>
    {% endfor %}
{% endblock %}