{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="column30">
        <a href="/student/display">Go back</a>
        <a href="/student/update/{{ student.id }}/pdf">Print to PDF</a>

        <table id="studentData" class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.address }}</td>
            </tr>
        </table>
        {% for class in allClasses %}
            {% if class.isAttending %}
                <div style="font-size: 20px;">
                    <p style="margin-left: 14px;">
                        Is attending
                        {{ class.name }}.
                        <br/>
                        Add mark:
                        <a id="deleter" href="/student/addMark/{{ student.id }}/{{ class.id }}/1">1</a>
                        <a id="deleter" href="/student/addMark/{{ student.id }}/{{ class.id }}/2">2</a>
                        <a id="deleter" href="/student/addMark/{{ student.id }}/{{ class.id }}/3">3</a>
                        <a id="deleter" href="/student/addMark/{{ student.id }}/{{ class.id }}/4">4</a>
                        <a id="deleter" href="/student/addMark/{{ student.id }}/{{ class.id }}/5">5</a>
                        <a id="deleter" href="/student/addMark/{{ student.id }}/{{ class.id }}/6">6</a>
                        <br/>
                        <a id="deleter" href="/student/update/{{ student.id }}/{{ class.id }}/rm">Remove from class.</a>
                    </p>
                </div><br/>
            {% else %}
                <div style="font-size: 20px;">
                    <p style="margin-left: 14px;">
                        Is not attending
                        {{ class.name }}.
                        <br/>
                        <a id="deleter" href="/student/update/{{ student.id }}/{{ class.id }}/add">Add to class.</a>
                    </p>
                </div><br/>
            {% endif %}
        {% endfor %}
        </div>
        <div class="column30">
        <table id="table1" class="table">
            <tr>
                <th><input class="sortButton" type="button" onclick="sortTable(0)" value="Class"></th>
                <th><input class="sortButton" type="button" onclick="sortTable(1)" value="Mark"></th>
                <th>Delete</th>
            </tr>
            {% for mark in marks %}
                <tr>
                    <td class="className">{{ mark.classId }}</td>
                    <td>{{ mark.markValue }}</td>
                    <td><a id="deleter" href="{{ path('mark_delete', { 'markId' : mark.markId, 'studId' : student.id }) }}">X</a></th>
                </tr>
            {% endfor %}
        </table>
        </div>
        <div>
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                    <a style="vertical-align: super; font-size: 14px; background: red; color: white;" href="#" onclick="window.location.reload(true);">
                        X</a>
                </div>
            {% endfor %}

        {% endblock %}