{% extends 'base.html.twig' %}
{% block body %} 
<a href="/student/display"><= Go back</a>

<table style="font-size: 20px;" id="studentData" class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <tr>
        <th>{{ student.id }}</th>
        <th>{{ student.name }}</th>
        <th>{{ student.address }}</th>
    </tr>
</table>
{% for class in allClasses %}
    {% if class.isAttending %}
        <div style="font-size: 20px;"><p style="margin-left: 14px;"> Is attending {{ class.name }}. <br /><a id="deleter" href="/student/update/{{ student.id }}/{{ class.id }}/rm">Remove from class.</a></p></div><br />
        {% else %}
        <div style="font-size: 20px;"><p style="margin-left: 14px;"> Is not attending {{ class.name }}. <br /><a id="deleter" href="/student/update/{{ student.id }}/{{ class.id }}/add">Add to class.</a></p></div><br />
    {% endif %}
{% endfor %}
{% endblock %}